#header {
  overflow: hidden;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  padding-left: 30px;
}

.container-header {
  align-items: center;
  position: relative;
}
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 50px;
}

.img-container {
  background-color: var(--color-dark-green);
  padding: 20px 20px 0 30px;
  border-radius: 30% 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 400px;
  overflow: hidden;
}

.img-avatar {
  object-fit: cover;
  object-position: 0 17px;
  width: 100%;
  height: 100%;
}

.title {
  margin-right: auto;
}

.title span:nth-child(1) {
  font-size: 30px;
}

.title h1 {
  font-size: 50px;
}

.buttons {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bottons a {
  margin: 10px 15px;
}

.socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5rem;
  bottom: 0;
  align-items: center;
}

.socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-dark-green);
}

.socials a {
  color: var(--color-dark-green);
}

/* media query (1200/992/768) */
@media (max-width: 768px) {
  .container-header {
    padding: 100px 0 40px 0;
    text-align: center;
    height: fit-content;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 10px auto;
  }

  .title {
    margin: 0 0 15px 0;
  }

  .socials {
    right: 20px;
    top: 40px;
  }
}
