#portfolio {
  padding: 50px 50px 50px 70px;
  text-align: center;
  background: var(--color-white);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

#portfolio h2 {
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 1000;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px;
  width: 90%;
  margin: 0 auto;
}

.portfolio-container .portfolio_item {
  background: var(--color-purple);
  border-radius: 10px;
  width: 300px;
  padding: 20px 0;
  margin: 0 auto 20px auto;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio_item_top {
  display: flex;
  flex-direction: column;
}

.portfolio_item:hover {
  background: transparent;
  border: 1px solid var(--color-purple);
  transition: var(--transition);
  color: var(--color-dark-green);
}

.portfolio_item:hover .portfolio-hashTag {
  color: black;
}

.portfolio_item-image {
  margin: 10px auto;
  max-height: 150px;
}

.portfolio_item-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.portfolio_item h3 {
  margin: 20px 0;
}

.portfolio_item .btn {
  margin-left: 10px;
}

.portfolio-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.portfolio-description {
  padding: 25px 25px 10px 25px;
  font-weight: 500;
}

.portfolio-hashTags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  margin-top: auto;
}

.portfolio-hashTag {
  font-size: 0.95rem;
  margin: 0.1rem;
  padding: 0.2rem;
  color: var(--color-dark-green);
  font-weight: 600;
}

/* media query */
@media (max-width: 1199px) and (min-width: 768px) {
  #portfolio {
    height: fit-content;
  }

  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  #portfolio {
    height: fit-content;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    place-items: center;
  }

  .portfolio_item {
    width: 90%;
  }
}
