#contact {
  padding: 30px 10px 20px 10px;
  text-align: center;
  background: var(--color-dark-green);
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact h2 {
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 1000;
}

.contact-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-option {
  background: var(--color-beige);
  border-radius: 10px;
  padding: 30px;
}

.contact-option:hover {
  color: var(--color-beige);
  background: transparent;
  border: 2px solid var(--color-beige);
  transition: var(--transition);
}

.contact-option:hover a {
  color: var(--color-lightgreen);
}

.contact-option h4 {
  font-weight: 800;
  padding-bottom: 20px;
}

.contact-option a {
  color: var(--color-dark-green);
  margin: 30px 0;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 90%;
}

form input,
form textarea {
  background: transparent;
  border: 2px solid var(--color-beige);
  border-radius: 5px;
  padding: 10px;
  color: var(--color-white);
  width: 100%;
  max-width: 600px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--color-beige);
  font-family: "Raleway", sans-serif;
}

form input {
  height: 60px;
}

form textarea {
  height: 200px;
  resize: none;
}

.btn-contact {
  border: 1px solid var(--color-beige);
  width: 100px;
}

.btn-contact:hover {
  border: 1px solid var(--color-beige);
  color: var(--color-beige);
  opacity: 0.8;
  cursor: pointer;
}

/* media query */
@media (max-width: 1199px) and (min-width: 768px) {
  .contact-options {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .contact-container {
    width: 90%;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 80px;
    padding-left: 0;
    margin: 0 auto;
  }

  .contact-options {
    margin-bottom: 40px;
    width: 70%;
  }
}
