#experience {
  padding: 40px 30px;
  text-align: center;
  background: var(--color-dark-green);
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

#experience h2 {
  font-weight: 900;
  margin-bottom: 80px;
}

.skills-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.container-skills {
  background: var(--color-beige);
  border: 2px solid transparent;
  border-radius: 20px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-skills:hover {
  background: transparent;
  transition: var(--transition);
  color: var(--color-beige);
  border: 2px solid var(--color-green);
}

.container-skills:hover .skill-title {
  color: var(--color-green);
}

.skills-list-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.skill-title {
  font-weight: bold;
  margin-bottom: 10px;
  align-self: center;
  color: var(--color-dark-green);
}

.skill-content {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 6px;
  font-weight: bold;
}

/* media query for sm screen */
@media (max-width: 767px) {
  #experience {
    height: fit-content;
    width: 100vw;
  }

  #experience h2 {
    margin-bottom: 30px;
  }

  .skills-row {
    grid-template-columns: 1fr;
  }

  .container-skills {
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    height: fit-content;
  }
}
